h1 {
  color: $primaryColor;
}

.small {
  font-size: 0.9em;
}

.lower {
  text-transform: lowercase;
}

.smaller {
  font-size: 0.85em;
}

.smallest {
  font-size: 0.8em;
}

.big {
  font-size: 1em;
}

.light {
  color: $defaultDeepColor;
}

.align-right {
  text-align: right;
}

.flex {
  display: flex;
}

.right {
  text-align: right;
}

.gone {
  display: none;
}

.hidden {
  visibility: hidden;
}

.appear {
  display: inline-block;
}

.red {
  color: $red !important;
}

.button-area-center {
  text-align: center;

  display: block;
}

.clickable {
  color: $clickableColor;
  cursor: pointer;
}

.center {
  margin: 0 auto !important;
  text-align: center;
}

@keyframes slide {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

body {
  font-family: AvenirLight, FuturaLight, Verdana, Geneva, Tahoma, sans-serif !important;
  background-color: #fffefe !important;
  font-size: 1.1em;
  margin: 0 !important;
}

.error {
  font-size: 1.2em;
  color: $red;
  margin-top: 3px;
}

button:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.button {
  border-width: 1px;
  border-color: $primaryLightLightLightColor !important;
  height: 2.3em;
  border-radius: 2em;
  min-width: 8em;
  margin-left: 0.8em;
  margin-bottom: 0.8em;
  font-size: 0.9em;

  &.ok {
    background-color: $primaryDeepColor;
    color: $white;
    border: 1px solid $primaryDeepColor;
  }

  &.cancel {
    background-color: $white;
    color: $primaryDeepColor;
    border: 1px solid $primaryDeepColor;
  }

  &.danger {
    background-color: $red;
    color: $white;
    border: 1px solid $red;
  }

  &.disabled {
    background-color: $defaultSuperDeepDeepColor !important;
    color: $white !important;
    border: 1px solid $defaultSuperDeepDeepColor !important;
  }
}

.area-wordy {
  padding: 24px;

  p {
    text-align: justify;
  }

  h4 {
    margin-top: 36px !important;
  }

  .button-area {
    padding-top: 24px;
  }
}

.area-header {
  background-color: $primaryColor;
  color: $white;
  font-family: AvenirLight, AvenirRegular, FuturaLight, Verdana, Geneva !important;
  font-size: 2em;
  padding: 24px;
}

.radio-item {
  display: block;
  cursor: pointer;
}

.nimbus-icon {
  width: 36px;
  height: 36px;
}

.margin-12 {
  margin: 12px;
}
