.area-footer {
  color: $defaultDeepDeepColor;
  background-color: $defaultLightLightColor;
  width: 100%;
  text-align: center;
  border-top: 1px solid $defaultLightColor;
  padding: 0.68rem 0.31rem;
  bottom: 0px;
  z-index: 4000;
}
