$primaryDeepDeepColor: #008585;
$primaryDeepColor: #00bebe;
$primaryColor: #1ec8c8;
$primaryLightColor: #66e0e0;
$primaryLightLightLightColor: #cffafa;

$primaryLightLightColor: #1ec8c8;
$primaryLightDeepColor: #1ec8c8;
$primaryLightDeepDeepColor: #1ec8c8;

$defaultSuperDeepDeepColor: #7a7979;
$defaultDeepDeepColor: #b3b3b3;
$defaultDeepColor: #b7b6b7;
$defaultColor: #e4e4e4;
$defaultLightColor: #f4f4f4;
$defaultLightLightColor: #fefefe;

$white: #ffffff;
$deepRed: #f6003e;
$red: #f71e54;
$black: #000000;

$alignmentPadding: 0.75rem;
$transparentBlack: rgba(0, 0, 0, 0.2);

$displayBlack: rgba(
  $color: #000000,
  $alpha: 0.7
);

$clickableColor: #0577e5;
$menuColor: #333333;
$menuColorTransparent: #33333350;
$transparentBlackOther: #333333da;
